---
title: CSS stylesheet
---
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.woff);
}

@font-face {
    font-family: LatoLight;
    src: url(../fonts/Lato-Light.woff);
}

@font-face {
    font-family: LatoThin;
    src: url(../fonts/Lato-Thin.woff);
}

@font-face {
    font-family: LatoHairline;
    src: url(../fonts/Lato-Hairline.woff);
}

/* Default font properties for standard elements */

body p, li, a, th, td {
    font-family: 'LatoLight';
    font-size: 12pt;
    line-height: 18pt;
}

@media (min-width: 768px) {
    body p, li, a, th, td {
	font-size: 14pt;
        line-height: 27pt;
    }
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'LatoLight';
}

h1,
h2,
.h1,
.h2 {
    font-family: 'Lato';
}

.nav > li > a {
    font-family: 'LatoLight';
    font-size: 16px;
    padding: 18px 20px 17px 20px;
}

.dropdown-menu > li > a {
    font-family: 'LatoLight';
}

.navbar-static-top {
    margin-bottom: 0;
    border-width: 0px;
}


img.topLogo {
    padding: 5px;
    padding-right: 22px;
}

img.topLogo.xs {
    float:left;
    padding-right: 10px;
    padding-left: 10px;
}

div.bannerContainer {
    position:relative;
    background-position: center;
    background-size: cover;
    padding:0;
    overflow:hidden;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #111924;
    margin-bottom:30px;
}

div.usecaseBackground {
    background-image: url("{{ BASE_URL }}/images/usecase_placeholder.jpg");
}
div.introBackground {
    background-image: url("{{ BASE_URL }}/images/header_w_text_bold.jpg");
}
div.teamBackground {
    background-image: url("{{ BASE_URL }}/images/team_header.jpg");
}
div.jobsBackground {
    background-image: url("{{ BASE_URL }}/images/jobs.jpg");
}
div.comingSoon {
    background-image: url("{{ BASE_URL }}/images/comingSoon.jpg");
}
div.consumerTechnologyBackground {
    background-image: url("{{ BASE_URL }}/images/crownstoneConsumerTechnology.jpg");
}

div.logoOverlay {
    background-image: url("{{ BASE_URL }}/images/logoOverlay.png");
    background-size:cover;
    position:absolute;
    top:70px;
    height:350px;
    min-height:350px;
    width:100%;
}

div.bannerContainer.xl { height:1050px; }
div.bannerContainer.lg { height:750px; }
div.bannerContainer.mdlg { height:550px; }
div.bannerContainer.md { height:450px; }
div.bannerContainer.sm { height:350px; }
div.bannerContainer.xs { height:180px; }

.navbar-default .navbar-nav > .active > a {
    background-color: #00253c;
    color: white
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #007cc3;
    color: white
}

.navbar-default .navbar-nav > li > a:focus {
    background-color: #007cc3;
    color: white
}

div.crownstoneText {
    float:left;
    height:50px;
    line-height: 50px;
    font-size: 20px;
}

div.videoContainer {
    position:relative;
    width: 100%;
}

div.videoContainer.xl { min-width:2400px; }
div.videoContainer.lg { min-width:1700px; }
div.videoContainer.mdlg { min-width:1100px; }
div.videoContainer.md { min-width:929px; }
div.videoContainer.sm { min-width:723px; }

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
    border-top: 1px solid #d2d2d2;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

video.headerVideo {
    width:100%;
}


div.kid {
    background-image: url("../images/kid.png");
    background-position: center;
    background-size: cover;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #111924;
    margin-bottom:30px;
    height:100px;
}

div.footer {
    margin-top:50px;
    background-color: #00253c;
    color:white;
}

div.fullWidthImage {
    position:relative;
    background-image: url("../images/renderCombined.png");
    background-position: center;
    background-size: cover;
    padding:0;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #111924;
    height: 500px;
    overflow: hidden;
    margin-top:30px;
    margin-bottom:40px;
}


div.fullWidthImage.lg { height:600px; }
div.fullWidthImage.md { height:500px; }
div.fullWidthImage.sm { height:350px; }
div.fullWidthImage.xs { height:200px; }

div.marginTopM {
    margin-top:40px;
}


a.footer {
    color:#dddddd;
}

i.footer {
    margin-right:20px;
}

p.sitemap {

}

div.colofon {
    font-size:10pt;
    color:#aaaaaa;
    line-height: 12pt;
}

/* Date as text on small devices */
.text-date {
	text-align: right;
	font-size:12pt;
}

/* Date unit at the left side of each blog post */

.date {
  background: transparent url("{{ site.baseurl }}/assets/themes/flat/images/calendar_background.png") no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  margin: 15px 2px -40px -108px;
  padding: 0 0 8px 0px;
  border: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.date_month {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-top: -1px;
  text-align: center;
  color: #ffffff;
}

.date_day {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-top: -8px;
  text-align: center;
  color: #282828;
}

.date_year {
  display: block;
  font-size: 10px;
  margin-top: -8px;
  text-align: center;
  color: #282828;
}

/* Author at the right side of each blog post */

.author-block {
  font-family: 'LatoLight';
  display: block;
  margin: 20px 0px 0px 20px;
  float: right;
  border: 0;
  text-transform: uppercase;
  height: auto;
}

/* Social buttons at the right in the footer of each blog post */

.social-button-footer {
  float: right;
  margin: 25px 0px 0px 0px;
}

/* The box that fades out older internship descriptions */

.forget-box {
  position: relative;
  overflow: hidden; }
  .forget-box .btn-default {
    font: normal 18px/1 "oswaldbold", Helvetica, sans-serif;
    color: #2398d6; }
  .forget-box .forget-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 80px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e1e3e5));
    background-image: -webkit-linear-gradient(left top, left bottom, rgba(255, 255, 255, 0), #e1e3e5);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #e1e3e5);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #e1ffe5);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #e1e3e5);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0), #16e3e5); 
}
