.highlighter-rouge table td { padding: 5px; }
.highlighter-rouge table pre { margin: 0; }
.highlighter-rouge, .highlighter-rouge .w {
  color: #bbbbbb;
  background-color: #000;
}
.highlighter-rouge .c, .highlighter-rouge .ch, .highlighter-rouge .cd, .highlighter-rouge .cm, .highlighter-rouge .cpf, .highlighter-rouge .c1 {
  color: #888;
}
.highlighter-rouge .cp {
  color: #579;
}
.highlighter-rouge .cs {
  color: #cc0000;
  font-weight: bold;
}
.highlighter-rouge .k, .highlighter-rouge .kc, .highlighter-rouge .kd, .highlighter-rouge .kn, .highlighter-rouge .kr, .highlighter-rouge .kv {
  color: #080;
  font-weight: bold;
}
.highlighter-rouge .kp {
  color: #038;
}
.highlighter-rouge .kt {
  color: #339;
}
.highlighter-rouge .o {
  color: #333;
}
.highlighter-rouge .ow {
  color: #000;
  font-weight: bold;
}
.highlighter-rouge .nb, .highlighter-rouge .bp {
  color: #007020;
}
.highlighter-rouge .nf, .highlighter-rouge .fm {
  color: #06B;
  font-weight: bold;
}
.highlighter-rouge .nc {
  color: #B06;
  font-weight: bold;
}
.highlighter-rouge .nn {
  color: #0e84b5;
  font-weight: bold;
}
.highlighter-rouge .ne {
  color: #F00;
  font-weight: bold;
}
.highlighter-rouge .nv, .highlighter-rouge .vm {
  color: #963;
}
.highlighter-rouge .vi {
  color: #33B;
}
.highlighter-rouge .vc {
  color: #369;
}
.highlighter-rouge .vg {
  color: #d70;
  font-weight: bold;
}
.highlighter-rouge .no {
  color: #036;
  font-weight: bold;
}
.highlighter-rouge .nl {
  color: #970;
  font-weight: bold;
}
.highlighter-rouge .ni {
  color: #800;
  font-weight: bold;
}
.highlighter-rouge .na {
  color: #00C;
}
.highlighter-rouge .nt {
  color: #070;
}
.highlighter-rouge .nd {
  color: #555;
  font-weight: bold;
}
.highlighter-rouge .s, .highlighter-rouge .sa, .highlighter-rouge .sb, .highlighter-rouge .dl, .highlighter-rouge .s2, .highlighter-rouge .sh, .highlighter-rouge .s1 {
  background-color: #fff0f0;
}
.highlighter-rouge .sc {
  color: #04D;
}
.highlighter-rouge .sd {
  color: #D42;
}
.highlighter-rouge .si {
  background-color: #eee;
}
.highlighter-rouge .se {
  color: #666;
  font-weight: bold;
}
.highlighter-rouge .sr {
  color: #000;
  background-color: #fff0ff;
}
.highlighter-rouge .ss {
  color: #A60;
}
.highlighter-rouge .sx {
  color: #D20;
}
.highlighter-rouge .m, .highlighter-rouge .mb, .highlighter-rouge .mx {
  color: #60E;
  font-weight: bold;
}
.highlighter-rouge .mi, .highlighter-rouge .il {
  color: #00D;
  font-weight: bold;
}
.highlighter-rouge .mf {
  color: #60E;
  font-weight: bold;
}
.highlighter-rouge .mh {
  color: #058;
  font-weight: bold;
}
.highlighter-rouge .mo {
  color: #40E;
  font-weight: bold;
}
.highlighter-rouge .gh {
  color: #000080;
  font-weight: bold;
}
.highlighter-rouge .gu {
  color: #800080;
  font-weight: bold;
}
.highlighter-rouge .gd {
  color: #A00000;
}
.highlighter-rouge .gi {
  color: #00A000;
}
.highlighter-rouge .gr {
  color: #FF0000;
}
.highlighter-rouge .ge {
  font-style: italic;
}
.highlighter-rouge .gs {
  font-weight: bold;
}
.highlighter-rouge .gp {
  color: #c65d09;
  font-weight: bold;
}
.highlighter-rouge .go {
  color: #888;
}
.highlighter-rouge .gt {
  color: #04D;
}
.highlighter-rouge .err {
  color: #F00;
  background-color: #FAA;
}
