---
layout: page
title : Blog
header : Blog
description: "Blog written by the Crownstone team"
group: [navigation, navigation-consumer-footer]
permalink: blog/
background-image: banner-blog.jpg
---
{% include JB/setup %}

<!-- <div class="container"> -->
<section class="dark-blue mini-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			<h1>Blog</h1>
			<p>At Crownstone we blog about a wide range of topics. Enjoy reading and feel free to contact us if you want to know more details!</p>
			<p>Also check out our newsletters (which will show up on our blog with a delay) which you can read back at <a href="http://us10.campaign-archive2.com/home/?u=d03baf337210e326a61dc14d5&id=a23d3e9ded">this list</a> and subscribe at the bottom of this page if you want to stay on top!</p>
			</div>
		</div>
	</div>
</section>

<section class="gray mini-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			{% assign posts_collate = site.posts %}
			{% include JB/posts_collate %}
			</div>
		</div>
	</div>
</section>
<!-- </div> -->
