# Configuration of file, do not put anything in here that you do not want to be public
# For more see: http://jekyllrb.com/docs/permalinks/
permalink: /:categories/:year/:month/:day/:title 

relative_permalinks: false

exclude: [".rvmrc", ".rbenv-version", "README.md", "Rakefile", "changelog.md", "Gemfile","Gemfile.lock","Procfile","vendor",
  "build.sh", "run.sh", "deploy.sh", ".gitignore", "_site", ".jekyll-cache", ".sass-cache", "node_modules", ".git", "webpack-src"]

highlighter: rouge

languages: ["en", "nl"]
default_lang: "en"
exclude_from_localization: ["javascript", "images", "css", "scripts", "nl/attachments/brochures/*"]
parallel_localization: true

# Safe mode disables all custom plugins
# safe: true
#mode: production
mode: development

# Themes are encouraged to use these universal variables 
# so be sure to set them if your theme uses them.
#
title : Crownstone
tagline: "Crownstone: Your Presence Makes a Difference"
author :
  name : Crownstone B.V.
  email : ask@crownstone.rocks
  github : crownstone

company : 
  address : Stationsplein 45 d1.118, 3013 AK Rotterdam, The Netherlands
  street : Stationsplein 45 d1.118
  street_number: 45 d1.118
  postal_code : 3013 AK Rotterdam, The Netherlands
  postcode : 3013 AK Rotterdam
  kvk : 66065208
  vat : NL856381111B01
  iban : NL36RABO0310477395
  bic : RABONL2U
  phone_international : 0031103073955
  phone_local : 010-3073955

description: "Crownstones switch and dim devices and lamps based on your presence. Energy savings and home automation at once!"

keywords: "smart home, smart homes, domotica, smart plug, home automation, power plug, gadgets, apple, open-source, raspberry pi, smart outlet, smart switch, arduino, alexa, amazon echo, nest, toon, philips hue, homewizard, fibaro, klik-aan-klik-uit, energy savings, comfort"

contact-anne: 
  name: Anne van Rossum
  email: [ '.rocks', 'stone', 'crown', '@', 'ne', 'an' ]

contact-job: 
  name: us
  email: [ '.rocks', 'stone', 'crown', '@', 'work', 'loveto' ]

contact-team: 
  name: Crownstone Team
  email: [ '.rocks', 'stone', 'crown', '@', 'am', 'te' ]

# The production_url is only used when full-domain names are needed
# such as sitemap.txt 
# Most places will/should use BASE_PATH to make the urls
# 
# If you have set a CNAME (pages.github.com) set your custom domain here.
# Else if you are pushing to username.github.io, replace with your username.
# Finally if you are pushing to a GitHub project page, include the project name at the end.
#
#url : https://crownstone.github.io/website
url : https://crownstone.rocks
production_url : https://crownstone.rocks

markdown : kramdown

kramdown:
  auto_ids: true
  auto_id_prefix: 'header-'

plugins: 
- 'jekyll-lunr-js-search'
- 'jekyll-polyglot'
- 'jekyll-babel'

lunr_search:
  excludes: [rss.xml, atom.xml]
  min_length: 3

embedly :
  youtube :
    text-align: center;

# All Jekyll-Bootstrap specific configurations are namespaced into this hash
#
JB :
  version : 0.3.0

  # All links will be namespaced by BASE_PATH if defined.
  # Links in your website should always be prefixed with {{BASE_PATH}}
  # however this value will be dynamically changed depending on your deployment situation.
  #
  # CNAME (http://yourcustomdomain.com)
  #   DO NOT SET BASE_PATH 
  #   (urls will be prefixed with "/" and work relatively)
  #
  # GitHub Pages (http://username.github.io)
  #   DO NOT SET BASE_PATH 
  #   (urls will be prefixed with "/" and work relatively)
  #
  # GitHub Project Pages (http://username.github.io/project-name)
  #
  #   A GitHub Project site exists in the `gh-pages` branch of one of your repositories.
  #  REQUIRED! Set BASE_PATH to: http://username.github.io/project-name
  #
  # CAUTION:
  #   - When in Localhost, your site will run from root "/" regardless of BASE_PATH
  #   - Only the following values are falsy: ["", null, false]
  #   - When setting BASE_PATH it must be a valid url.
  #     This means always setting the protocol (http|https) or prefixing with "/"
  # disabled BASE_PATH : https://crownstone.github.io/website

  # By default, the asset_path is automatically defined relative to BASE_PATH plus the enabled theme.
  # ex: [BASE_PATH]/assets/themes/[THEME-NAME]
  #
  # Override this by defining an absolute path to assets here.
  # ex: 
  #   http://s3.amazonaws.com/yoursite/themes/watermelon
  #   /assets
  #
  ASSET_PATH : /assets/themes/flat
  #ASSET_PATH : false

  # Set theme to flat
  THEME : flat

  # These paths are to the main pages Jekyll-Bootstrap ships with.
  # Some JB helpers refer to these paths; change them here if needed.
  #
  archive_path: /blog
  categories_path : /categories.html
  tags_path : /tags.html
  atom_path : /atom.xml
  rss_path : /rss.xml

  # Settings for comments helper
  # Set 'provider' to the comment provider you want to use.
  # Set 'provider' to false to turn commenting off globally.
  #
  comments :
    provider : disqus
    disqus :
      short_name : crownstone
    livefyre :
      site_id : 123
    intensedebate :
      account : 123abc
    facebook :
      appid : 123
      num_posts: 5
      width: 580
      colorscheme: light
   
  # Settings for analytics helper
  # Set 'provider' to the analytics provider you want to use, you can use multiple in an array
  # Set 'provider' to false to turn analytics off globally.
  #        
  analytics :
    provider : 
    - simpleanalytics
    - google 
    google : 
        tracking_id : 'UA-17146802-16'
    simpleanalytics:
      site_id : 'crownstone.rocks'
    getclicky :
      site_id : 
    mixpanel :
        token : '_MIXPANEL_TOKEN_'
    piwik :
        baseURL : 'myserver.tld/piwik' # Piwik installation address (without protocol)
        idsite : '1'                   # the id of the site on Piwik

  # Settings for sharing helper. 
  # Sharing is for things like tweet, plusone, like, reddit buttons etc.
  # Set 'provider' to the sharing provider you want to use.
  # Set 'provider' to false to turn sharing off globally.
  #
  sharing :
    provider : false
    
  # Settings for all other include helpers can be defined by creating 
  # a hash with key named for the given helper. ex:
  #
  #   pages_list :
  #     provider : "custom"   
  #
  # Setting any helper's provider to 'custom' will bypass the helper code
  # and include your custom code. Your custom file must be defined at:
  #   ./_includes/custom/[HELPER]
  # where [HELPER] is the name of the helper you are overriding. 

inspectlet: false

responsive_image:
  # [Required]
  # Path to the image template.
  template: _includes/responsive-image.html

  # [Optional, Default: 85]
  # Quality to use when resizing images.
  default_quality: 90

  # [Optional, Default: []]
  # An array of resize configuration objects. Each object must contain at least
  # a `width` value.
  sizes:
    - width: 320  # [Required] How wide the resized image will be.
      quality: 80 # [Optional] Overrides default_quality for this size.
    - width: 800
    - width: 1400
      quality: 90

  # [Optional, Default: assets/resized/%{filename}-%{width}x%{height}.%{extension}]
  # The template used when generating filenames for resized images.
  #
  # Parameters available are:
  #   %{basename}    Basename of the file (assets/some-file.jpg => some-file.jpg)
  #   %{filename}    Basename without the extension (assets/some-file.jpg => some-file)
  #   %{extension}   Extension of the file (assets/some-file.jpg => jpg)
  #   %{width}       Width of the resized image
  #   %{height}      Height of the resized image
  #
  output_path_format: assets/resized/%{width}/%{basename}

assets:
  dirname: assets
  #
  # Base URL of assets paths.
  #
  baseurl: https://crownstone.github.io/website/assets/
  #
  # Pathnames where to find assets relative to the root of the site.
  #
  sources:
    - assets/themes/flat/js
    - assets/themes/flat/css
    - assets/themes/flat/images
    - assets/themes/flat/fonts

  js_compressor:  uglifier
  css_compressor: sass

