<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if page.description %}
    {% assign page_description = page.description %}
    {% else %}
    {% assign page_description = site.description %}
    {% endif %}

    <meta name="description" content="{{ page_description }}">

    {% if page.keywords %}
    {% assign page_keywords = page.keywords %}
    {% else %}
    {% assign page_keywords = site.keywords %}
    {% endif %}

    {% if page.tags and page.tags != '' %}
    {% assign page_tags = page.tags | join: ', ' %}
    {% assign page_keywords = page_tags | append: ', ' | append: page_keywords %}
    {% endif %}

    <meta name="keywords" content="{{ page_keywords }}">
    
    <meta name="author" content="{{ site.author.name }}">
    <link rel="icon" type="image/x-icon" href="{{ site.production_url }}/images/favicon.ico?">
    <link rel="apple-touch-icon" href="{{ site.production_url }}/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.production_url }}/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.production_url }}/images/apple-touch-icon-114x114.png">

    <meta name="theme-color" content="#ff8400">
    <meta name="msapplication-navbutton-color" content="#ff8400">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ff8400">

    {% I18n_Headers https://crownstone.rocks %}

    <meta name="google-site-verification" content="qsSndPwnJ3H5zpj9z6ZvY-r4WnvSpMBe5QchxVbIWvw" />

    {% strip %}

    {% if page.hide_title %}
    <title>Crownstone</title>
    {% else %}
    <title>Crownstone | {{ page.title }}</title>
    {% endif %}

    {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
    {% endif %}
    
    {% if page.local_css %}
    {% for stylesheet in page.local_css %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
    {% endif %}

    {% if page.redirect_url %}
    <meta http-equiv="refresh" content="0; url={{ page.redirect_url }}">
    {% endif %}

    {% include snippets/social-card channel="twitter" %}
    {% include snippets/open-graph-social-card %}

    <!-- Bootstrap as framework -->
    <link href="{{ ASSET_PATH }}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/crownstone-global.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/elusive-icons.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet">


    <!-- 
    <link href="{{ ASSET_PATH }}/css/elusive-webfont.css" rel="stylesheet"> 
    -->
    <!--[if lt IE 9]>
        <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--[if gt IE 9]>
    <link href="./bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> 
    <![endif]-->

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    {% endstrip %}

    {% strip %}
    {% if page.background-video %}
    <script>
        // set the appropriate background image
        BACKGROUND_CLASS = '{{ page.background-video }}';
    </script>
    {% endif %}
    {% endstrip %}
    
</head>

<body>

   <nav class="navbar navbar-light navbar-expand-lg">
      <div class="container navContainer">
         <img class="navbar-brand topLogo xs img-responsive" src="{{ BASE_PATH }}/images/apple-touch-icon-114x114.png" alt="">
         <div class="crownstoneText d-block d-lg-none">Crownstone</div>

         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarContents">
            <ul class="navbar-nav">
               {% include snippets/menu-pages %}
               {% include snippets/submenu-smart-home %}
               {% include snippets/submenu-business %}
               {% include snippets/submenu-about-us %}
               {% include snippets/menu-support %}
            </ul>

            <ul class="navbar-nav mr-right">
               {% include snippets/menu-diverse %}
            </ul>
         </div>
      </div>
   </nav>

{% include snippets/banner %}

{% if page.markdown %}
<!-- markdown wrapper -->
<div class="container">
<div class="row">
<div class="col">
<!-- markdown wrapper -->
{% endif %}

{{ content }}

{% if page.markdown %}
<!-- markdown wrapper -->
</div><!-- container -->
</div><!-- row -->
</div><!-- col -->
<!-- markdown wrapper -->
{% endif %}

{% if page.skip-newsletter %}
{% else %}
{% include snippets/newsletter %}
{% endif %}

<div class="footer">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <p style="text-align: center; font-family: Lato, sans-serif; font-size: 1rem; font-style: italic; font-weight: bold; color: white; width: 100%; padding: 1.2rem 0; margin: 0;">
                            CUSTOMER
                        </p>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                {% strip %}
                                {% assign pages_list = site.pages | sort:"name" %}
                                {% assign group = 'navigation-consumer-footer' %}
                                {% include JB/pages_list %}
                                {% endstrip %}
                            </ul>
                        </div>

                        <p style="text-align: center; font-family: Lato, sans-serif; font-size: 1rem; font-style: italic; font-weight: bold; color: white; width: 100%; padding: 1.2rem 0; margin: 0;">
                            ABOUT US
                        </p>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                {% strip %}
                                {% assign pages_list = site.pages | sort:"name" %}
                                {% assign group = 'navigation-about-us-footer' %}
                                {% include JB/pages_list %}
                                {% endstrip %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <p style="text-align: center; font-family: Lato, sans-serif; font-size: 1rem; font-style: italic; font-weight: bold; color: white; width: 100%; padding: 1.2rem 0; margin: 0;">
                            B2B
                        </p>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                {% strip %}
                                {% assign pages_list = site.pages | sort:"header" %}
                                {% assign group = 'navigation-business-footer' %}
                                {% include JB/pages_list %}
                                {% endstrip %}
                            </ul>
                        </div>
                        <p style="text-align: center; font-family: Lato, sans-serif; font-size: 1rem; font-style: italic; font-weight: bold; color: white; width: 100%; padding: 1.2rem 0; margin: 0;">
                            NEWS
                        </p>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                {% strip %}
                                {% assign pages_list = site.pages | sort:"name" %}
                                {% assign group = 'navigation-action-footer' %}
                                {% include JB/pages_list %}
                                {% endstrip %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <p style="text-align: center; font-family: Lato, sans-serif; font-size: 1rem; font-style: italic; font-weight: bold; color: white; width: 100%; padding: 1.2rem 0; margin: 0;">
                            ORDER
                        </p>
                        <div style="display:inline-block;" >
                            <ul class="list-unstyled" style="text-align: left; margin-bottom:0 !important;">
                                <a href="https://shop.crownstone.rocks?launch={{ site.active_lang }}&ref=http://crownstone.rocks/{{ site.active_lang}}{{ page.url }}" class="footer-text-element" style="text-align: left !important; align-self: center; font-family: Lato, sans-serif; font-size: 0.9rem; font-style: italic; padding: 0; color:#dddddd !important; text-decoration: none">
                                    <i class="el el-shopping-cart mr-2"></i>
                                    {% if site.active_lang == "nl" %}
                                    Webwinkel
                                    {% else %}
                                    Webshop
                                    {% endif %}
                                </a>
                            </ul>

                            <ul class="list-unstyled" style="text-align: left">
                                <a href="https://subscribe.crownstone.rocks/welcome?launch={{ site.active_lang }}&ref=http://crownstone.rocks/{{ site.active_lang}}{{ page.url }}&loc=footer" class="footer-text-element" style="text-align: left !important; align-self: center; font-family: Lato, sans-serif; font-size: 0.9rem; font-style: italic; padding: 0; color:#dddddd !important; text-decoration: none">
                                    <i class="el el-person mr-2"></i>
                                    {% if site.active_lang == "nl" %}
                                    Abonnement
                                    {% else %}
                                    Subscription
                                    {% endif %}
                                </a>
                            </ul>
                        </div>

                        <p style="text-align: center; font-family: Lato, sans-serif; font-size: 1rem; font-style: italic; font-weight: bold; color: white; width: 100%; padding: 1.2rem 0; margin: 0;">
                            CONTACT
                        </p>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled" style="text-align: left">
<!--                                <li>-->
<!--                                    <script type="text/javascript">/*<![CDATA[*/var a=new Array("{{ site.contact-team.email[0] }}", "{{ site.contact-team.email[1] }}", "{{ site.contact-team.email[2] }}", "{{ site.contact-team.email[3] }}", "{{ site.contact-team.email[4] }}", "{{ site.contact-team.email[5] }}");document.write("<a href='mailto:");for(i=a.length-1;i>=0;i&#45;&#45;){document.write(a[i])}document.write("?subject=Get in contact' class='footer-text-element' style=\"text-align: center !important; align-self: center; font-family: Lato, sans-serif; font-size: 0.9rem; font-style: italic; padding: 0; color:#dddddd !important; text-decoration: none\"><i class='el el-envelope footer'></i>Email us!</a>");/*]]>*/</script>-->
<!--                                    <noscript><i class="el el-envelope footer"></i>Email team@...</noscript>-->
<!--                                </li>-->
                                <li>
                                    <a href="{{ site.url }}/contact" class="footer-text-element" style="text-align: center !important; align-self: center; font-family: Lato, sans-serif; font-size: 0.9rem; font-style: italic; padding: 0; color:#dddddd !important; text-decoration: none">
                                        <i class="el el-group footer"></i>Contact us
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ site.url }}/privacy-policy" class="footer-text-element" style="text-align: center !important; align-self: center; font-family: Lato, sans-serif; font-size: 0.9rem; font-style: italic; padding: 0; color:#dddddd !important; text-decoration: none">
                                        <i class="el el-ok footer"></i>Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/presskit" class="footer-text-element" style="text-align: center !important; align-self: center; font-family: Lato, sans-serif; font-size: 0.9rem; font-style: italic; padding: 0; color:#dddddd !important; text-decoration: none">
                                        <i class="el el-idea footer"></i>Press
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br/>

        <!--   SOCIAL MEDIA     -->
        <div class="row footer-container" style="justify-content: space-around; padding: 3rem;">
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col social-media-icons-container">
                        <a href="https://www.facebook.com/crownstones/" target="_blank" class="footer-social-media-icons" style="text-align: center; color: lightgray; font-size: 2rem; margin: 0; padding: 0;"><i class="el el-facebook"></i></a>
                    </div>

                    <div class="col social-media-icons-container">
                        <a href="https://twitter.com/CrownstoneRocks" target="_blank" class="footer-social-media-icons" style="text-align: center; color: lightgray; font-size: 2rem; margin: 0; padding: 0;"><i class="el el-twitter"></i></a>
                    </div>

                    <div class="col social-media-icons-container">
                        <a href="https://discord.gg/zPhesU2CZv" target="_blank" class="footer-social-media-icons" style="text-align: center; color: lightgray; font-size: 2rem; margin: 0; padding: 0;"> <img src="/images/contact/discord-gray.svg" alt="discord-icon" style="min-width: 50px; width: 50%"> </a>
                    </div>

                    <div class="col social-media-icons-container">
                        <a href="https://www.youtube.com/channel/UCru1PX6P1JyhsI-OEMXnBdg" target="_blank" class="footer-social-media-icons" style="text-align: center; color: lightgray; font-size: 2rem; margin: 0; padding: 0;"><i class="el el-youtube"></i></a>
                    </div>

                    <div class="col social-media-icons-container">
                        <a href="https://www.linkedin.com/company/crownstone" target="_blank" class="footer-social-media-icons"><i class="el el-linkedin" style="text-align: center; color: lightgray; font-size: 2rem; margin: 0; padding: 0;"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center colofon">
               <div class="accent" style="margin: 0;">Crownstone</div>
               <p style="margin: 0;">{{ site.company.street }}</p>
               <p style="margin: 0;">{{ site.company.postal_code }}</p>
               <p style="margin: 0;">{{ site.company.phone_international }} / {{ site.company.phone_local }}</p>
               <br/>
               <p style="margin: 0;">
                  This site uses external services. Cookies for the webshop (<a href="https://www.shopify.com/legal/cookies" class="link-footer">cookie policy</a>).
               </p>
            </div>
        </div>
    </div>
    <br />
</div>

{% strip %}

{% include JB/analytics %}

{% endstrip %}

{% strip %}

<!-- in debug mode, Google Chrome complains about .map files, do not worry -->                    

{% if page.skip_jquery -%}
<!-- Disable jQuery, use the one embedded in search.min.js -->
{% else %}
<script type="text/javascript" src="{{ ASSET_PATH }}/resources/jquery/jquery-3.3.1.min.js"></script>
{% endif %}

<script type="text/javascript" src="{{ ASSET_PATH }}/resources/bootstrap/js/bootstrap.min.js"></script>

{% if page.math %}
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--[if gt IE 9]>
<script type="text/javascript" src="{{ ASSET_PATH }}/resources/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
<![endif]-->
                    
{% endstrip %}

</body>
</html>
