<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="icon" type="image/x-icon" href="{{ BASE_PATH }}/images/favicon.ico?">
    <link rel="apple-touch-icon" href="{{ BASE_PATH }}/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_PATH }}/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_PATH }}/images/apple-touch-icon-114x114.png">
    {% strip %}
    
    {% if page.hide_title %}
    <title>Crownstone</title>
    {% else %}
    <title>Crownstone | {{ page.title }}</title>
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    <!-- Bootstrap as framework -->
    <link href="{{ ASSET_PATH }}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ ASSET_PATH }}/css/crownstone-navbar-static-top.css" rel="stylesheet"> 
    
    <!-- Overwrites navbar-static-top ! -->
    <link href="{{ ASSET_PATH }}/css/crownstone-global.css" rel="stylesheet"> 
    
    <link href="{{ ASSET_PATH }}/css/elusive-icons.min.css" rel="stylesheet"> 
    
    <!--[if lt IE 9]>
        <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="./bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    {% endstrip %}

    {% strip %}
    {% if page.background %}
    <script>
        // set the appropriate background image
        BACKGROUND_CLASS = '{{ page.background }}';
    </script>
    {% endif %}
    {% endstrip %}
    
</head>

<body>

	<nav class="navbar navbar-default navbar-static-top">
        <div class="container navContainer">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-control="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <div class="visible-xs">
                    <img class="topLogo xs" src="{{ BASE_PATH }}/images/crownstoneLogoExtraSmall.png" />
                    <div class="crownstoneText">Crownstone</div>
                </div>
			</div>

			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
                    {% strip %}
					{% assign pages_list = site.pages | sort:"name" %}
					{% assign group = 'navigation' %}
					{% include JB/pages_list %}
                    {% endstrip %}
				</ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="https://shop.crownstone.rocks?ref=http://crownstone.rocks{{ page.url }}">Go shop!</a></li>
                </ul>
			</div>
		</div>
	</nav>

{{ content }}

<div class="footer">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h4>Crownstone for Consumers</h4>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                {% strip %}
                                {% assign pages_list = site.pages | sort:"name" %}
                                {% assign group = 'navigation-consumer-footer' %}
                                {% include JB/pages_list %}
                                {% endstrip %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <h4>Business to Business</h4>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                {% strip %}
                                {% assign pages_list = site.pages | sort:"name" %}
                                {% assign group = 'navigation-business-footer' %}
                                {% include JB/pages_list %}
                                {% endstrip %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <h4>Contact</h4>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled text-left">
                                <li>
                                    <script type="text/javascript">/*<![CDATA[*/var a=new Array("{{ site.contact-team.email[0] }}", "{{ site.contact-team.email[1] }}", "{{ site.contact-team.email[2] }}", "{{ site.contact-team.email[3] }}", "{{ site.contact-team.email[4] }}", "{{ site.contact-team.email[5] }}");document.write("<a href='mailto:");for(i=a.length-1;i>=0;i--){document.write(a[i])}document.write("?subject=Get in contact' class='footer'><i class='el el-envelope footer'></i>Email us!</a>");/*]]>*/</script>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/10784461?trk=prof-exp-company-name" target="_blank" class="footer">
                                        <i class="el el-linkedin footer"></i>Linkedin
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/crownstones/" target="_blank" class="footer">
                                        <i class="el el-facebook footer"></i>Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/crownstone_db" target="_blank" class="footer">
                                        <i class="el el-twitter footer"></i>Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/alexdemulder" target="_blank" class="footer">
                                        <i class="el el-vimeo footer"></i>Vimeo
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC7bsuzp2BfL5F5RX07oLIzw" target="_blank" class="footer">
                                        <i class="el el-youtube footer"></i>Youtube
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cdn.shopify.com/s/files/1/1030/5157/files/Press_Kit-2016-04-01.zip?14879015916008726670" class="footer">
                                        <i class="el el-arrow-down footer"></i>Presskit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-center colofon">
                Crownstone<br/>
                Stationsplein 45, unit a1.205-207<br/>
                3013 AK Rotterdam, the Netherlands<br/>
                +31 (0)10 404 9444
            </div>
        </div>
    </div>
    <br />
</div>

{% strip %}

{% include JB/analytics %}

{% endstrip %}

{% strip %}

<!-- in debug mode, Google Chrome complains about .map files, do not worry -->                    

{% if page.skip_jquery -%}
<!-- Disable jQuery, use the one embedded in search.min.js -->
{% else %}
<script type="text/javascript" src="{{ ASSET_PATH }}/resources/jquery/jquery.min.js"></script>
{% endif %}

<script type="text/javascript" src="{{ ASSET_PATH }}/resources/bootstrap/js/bootstrap.min.js"></script>

{% if page.background %}
<script type="text/javascript" src="{{ ASSET_PATH }}/js/adaptingVideoSize.js"></script>
{% endif %}

{% if post.math %}
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="{{ ASSET_PATH }}/resources/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
                    
{% endstrip %}

</body>
</html>
